<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PressDMS"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PressDMS;User ID=sa;Password=shreeyakamatH7"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

